/*
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;700&display=swap');
*/

html, body {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans";
}

canvas {
  display: block;
  height: 100%;
}

#p5_loading {
  position: absolute;
  top: 45vh;
  display: block;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  letter-spacing: 1ex;
  font-weight: 100;
}

#p5{
  height: 100vh;
}