@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;  /* Centrado horizontal */
  align-items: center;      /* Centrado vertical */
}
