@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans", sans-serif;
}

.cols-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "visualization controls";
  place-items: center;
  min-height: 100vh;
}

#controls {
  text-align: center;
  text-transform: uppercase;
  font-size: .6rem;
  letter-spacing: 0.2ex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  width: 90%;
}

.dimension {
  text-align: left;
  margin: 0 0 2em 0;
  width: 100%;
}

input[type="range"] {
  height: 1px;
  background: #bebebe;
  width: 100%;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5ex;
  height: 1.5ex;
  background: #bebebe;
  cursor: pointer;
}


input[type="range"]::-moz-range-thumb {
  width: 1.5ex;
  height: 1.5ex;
  background: #bebebe;
  cursor: pointer;

}

input[type="range"]:hover::-moz-range-thumb {
  background: rgb(254, 63, 15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.47);
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: rgb(254, 63, 15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.47);
}

input[type="color"]{
  width: 32px;
  height: 32px;
  border: none;
}

@media (max-width: 800px) {
  .cols-2 {
    display: flex;
    flex-flow: column-reverse;
    margin: 2em 0;
  }

  #controls{
    margin: 3em 0 0 0;
  }

  .dimension {
    width: auto;
  }
}
